
/* html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

nav {
    background-color: #ffffff;
    width: 100%;
}

.nav-item {
    transition: 0.5s;
    border-radius: 20px;
}

.container-fluid {
    animation-name: navanimation;
    animation-timing-function: linear;
    animation-duration: 1s;
}

#imgid {
    height: 50%;
}

@keyframes navanimation {
    from {
        position: relative;
        top: -30px;
    }

    to {
        position: relative;
        top: 0px;
    }
}

.nav-item:hover {
    border: none;
    background-color: #f1f1f1;

}

header {
    z-index: 1;
}

.container,
.card {
    background-color: #ffffff;
}

.card {
    border: none;
    align-items: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.card:hover img {
    filter: drop-shadow(0px 15px 10px #000);
    transform: scale(1.03, 1.03);
}

img {
    transition: 0.5s;
}

#footerid {
    background-color: #8afffb;
    width: 100%;
}

#fimg:hover {
    filter: drop-shadow(0px 0px 20px #F5F5F5);
    color: white;
}

#detailsid {
    margin-top: 20px;
}

#footbtn {
    margin-top: 15px;
    margin-left: 30px;
}

#ftxt1,
#ftxt2,
#ftxt3 {
    margin-top: 15px;
    margin-left: 30px;
    width: 85%;
}

.imgsec,
#fimg {
    width: 50%;
} */



   /* Beaverages */


/* .nav-item:hover {
    border: none;
    background-color: #f1f1f1;

  }

  header {
    z-index: 1;
  }

  body {
    background-color: #ccffca;
  }

  nav {
    background-color: #ffffff;
    width: 100%;
  }

  .nav-item {
    transition: 0.5s;
    border-radius: 20px;
  }

  footer {
    background-color: #dad9d9;
    text-align: center;
  }

  .card {
    border: none;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }


  img {
    transition: 0.5s;
  }

  img:hover {
    filter: drop-shadow(0px 10px 10px gray);
    transform: scale(1.01, 1.01);
  }

  .container {
    box-shadow: 0px 0px 10px gray;
  }

  #footerid {
    background-color: #8afffb;
    width: 100%;
  }

  #fimg:hover {
    filter: drop-shadow(0px 0px 20px #F5F5F5);
    color: white;
  }

  #detailsid {
    margin-top: 20px;
  }

  #footbtn {
    margin-top: 15px;
    margin-left: 30px;
  }

  #ftxt1,#ftxt2,#ftxt3 {
    margin-top: 15px;
    margin-left: 30px;
    width: 85%;
  }

  .imgsec,#fimg {
    width: 50%;
  } */


  /* STAPLES */

/* 
  html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

nav {
    background-color: #ffffff;
    width: 100%;
}

.nav-item {
    transition: 0.5s;
    border-radius: 20px;
}

.container-fluid {
    animation-name: navanimation;
    animation-timing-function: linear;
    animation-duration: 1s;
}

#imgid {
    height: 300px;
}

@keyframes navanimation {
    from {
        position: relative;
        top: -30px;
    }

    to {
        position: relative;
        top: 0px;
    }
}

.nav-item:hover {
    border: none;
    background-color: #f1f1f1;

}

header {
    z-index: 1;
}

#caro {
    width: 80%;
}

.container,
.card {
    background-color: #ffffff;
}

.card {
    border: none;
    align-items: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.card:hover img {
    filter: drop-shadow(0px 15px 10px #000);
    transform: scale(1.03, 1.03);
}

img {
    transition: 0.5s;
}

#footerid {
    background-color: #8afffb;
    width: 100%;
}

#fimg:hover {
    filter: drop-shadow(0px 0px 20px #F5F5F5);
    color: white;
}

#detailsid {
    margin-top: 20px;
}

#footbtn {
    margin-top: 15px;
    margin-left: 30px;
}

#ftxt1,
#ftxt2,
#ftxt3,
#ftxt4 {
    margin-top: 15px;
    margin-left: 30px;
    width: 85%;
}

.imgsec {
    width: 50%;
}

#Staplescontainer {
?

.imgsec,
#fimg {
    width: 50%;
} */
.cart-button {
    position: relative;
    padding: 5px;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #01790b;
    outline: none;
    cursor: pointer;
    color: #000000;
    transition: .3s ease-in-out;
    overflow: hidden;
    font-weight: 500;
  }

  .cart-button:hover {
    background-color: #259e00;
  }
  .cart-button:active {
    transform: scale(.9);
  }

  .cart-button .fa-cart-shopping {
    position: absolute;
    z-index: 2;
    top: 50%; left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
  }
  .cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%; left: 52%;
    font-size: 1.2em;
    transform: translate(
        -50%, -50%);
    color: gold;
  }

.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1em;
    color: #000;
    transform: translate(-50%, -50%);
}

.cart-button span
.add-to-cart {
    opacity: 1;
}

.cart-button span.added {
    opacity: 0;
}

.cart-button.clicked .fa-cart-shopping {
    animation: truck 2s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
    animation: box 2s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: txt1 2s ease-in-out forwards;
}

.cart-button.clicked span.added {
    animation: txt2 2s ease-in-out forwards;
}

@keyframes truck {
    0% { left: -10%; }
    40%,
    55% { left: 50%; }
    100% { left: 110%; }
}

@keyframes box {
    0%,
    40% { top: -20%; left: -5%; }
    55% { top: 37%; left: 52%; }
    100% { top: 37%; left: 110%; } }

@keyframes txt1 {
    0% { opacity: 1; }
    20%,
    100% { opacity: 0; } }

@keyframes txt2 {
    0%,
    80% { opacity: 0; }
    100% { opacity: 1; } }
